body {
  font-family: 'Roboto Condensed', sans-serif;
  min-height: 90vh;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 100px;
}

header img {
  width: 150px;
  height: auto;
}

header ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  gap: 100px;
  align-self: center;
}

header li {
  font-size: 30px;
  cursor: pointer;
}

header li:hover {
  text-decoration: underline;
}

footer {
  position: absolute;
  bottom: 0;
  border-top: 1px solid rgb(129, 129, 129);
  width: 100%;
}

footer p {
  font-size: 20px;
  margin: 30px 40px;
}
